* {
background-color: beige;
}
.title {
    font-weight: bolder;
    font-size: 100px;
    text-align: center;
    margin-bottom: 20px;
}
.stitle {
    font-weight: bolder;
    font-size: 75px;
    text-align: center;
    margin-bottom: 20px;
}
hr {
    border: dotted ;
}
a {
    text-decoration: none;
}
.button{
    background-color: rgb(43, 168, 47);
    border-style: dashed;
    text-align: center;
    margin-left: 260px;
    margin-right: 260px;
    border-radius: 10px;
    font-size: 35px;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}
p.button:hover, p.button:active {
    background-color:rgb(14, 201, 21);
    font-size: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.number {
    font-size:45px ;
    margin-left: 80px;
    margin-bottom: 0px;
}
.img1 {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 0px;
    scale: 80%;
}
.img2 {
margin-left: 400px;
margin-right: 400px;
margin-top: 70px;
margin-bottom: 60px;
scale: 125%;
}
.img3, .img4, .img5a, .img5b, .imgd2a, .imgd2b {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    scale: 175%;
    }

.img5c {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    scale: 200%;
}
.imgd1 {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
    scale: 200%;
}
.Backbutton{
    background-color: rgb(43, 168, 47);
    border-style: dashed;
    text-align: center;
    margin-left: 260px;
    margin-right: 260px;
    border-radius: 10px;
    font-size: 35px;
    color: black;
    margin-top: 30px;
    margin-bottom: 30px;
}
p.Backbutton:hover, p.Backbutton:active {
    background-color:rgb(14, 201, 21);
    font-size: 40px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 25px;
    margin-bottom: 25px;
}
